<h1>Anmeldung für <%= @user.name %></h1>
<form accept-charset="UTF-8" method="POST" action="<%= subscription_add_url %>">
  <div class="form-group">
    <input name="subscribable_id" type="hidden" value="<%= @user.id %>">
    <input name="subscribable_type" type="hidden" value="User">
    <label for="email">E-Mail Adresse</label><br>
    <input name="email" type="email" placeholder="Bitte E-Mail Adresse eingeben" class="form-control">
  </div>
  <div class="actions">
    <input type="submit" class="btn btn-primary" value="Anmelden">
  </div>
</form>
