<div class="slick homescreen-slider" data-slick='{"autoplay": true, "autoplaySpeed": 10000, "dots": true, "adaptiveHeight": true}'>
  <div>
    <h3>Behalte deine Veranstaltungen im Blick</h3>
    <%= image_tag "startpage/workshop_overview.png" %>
    <p>
      Und biete deinen Teilnehmern einen Überblick über alle Aktionen die mit dir in Zukunft anstehen
    </p>
  </div>
  <div>
    <h3>Behalte einen Überblick über deine Teilnehmer</h3>
    <%= image_tag "startpage/workshop_detail.png" %>
    <p>
      Bleibe immer informiert über deine genaue Teilnehmeranzahl
    </p>
  </div>
  <div>
    <h3>Informiere deine Teilnehmner zuverlässig</h3>
    <%= image_tag "startpage/messages.png" %>
    <p>
      Nie wieder einzlenen die Informationen zukommen lassen! Auf deiner Veranstaltungsseite findet jeder alle Informationen die er benötigt
    </p>
  </div>
  <div>
    <h3>Gib regelmäßigen Teilnehmern einen Überblick</h3>
    <%= image_tag "startpage/public_user.png" %>
    <p>
      Falls deine Veranstaltung begeistert stehen die Chancen gut, dass einige Teilnehmer keine Möglichkeit verpassen wollen bei einem deiner Events dabei zu sein. Hilf Ihnen dabei!
    </p>
  </div>
</div>
