/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "materialize/components/color";
// // Change colors here
@import "materialize";

.container {
  background-color: white;
  margin: 0 auto;
  max-width: 960px;
  padding: 50px;
}

/* Simple spinner, see https://gist.github.com/7615212/fbea20965c86052ffdb134d83540896cc577f226 */
@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  animation: spin 1s infinite steps(8);
  background-color: inherit;
  box-shadow: inherit;
  display: inline-block;
  font-size: 12px;
  height: 5em;
  margin: 0 .5em;
  overflow: hidden;
  position: relative;
  text-indent: 999em;
  width: 5em;
}

.small.progress {
  font-size: 6px;
}

.large.progress {
  font-size: 24px;
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}
